@use 'theme-primary';
@use 'scrollbars';

.mainBlock {
  width: 90vw;
  min-height: 800px;
  display: flex;
  padding: 3rem;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
  border-radius: 20px;
  flex-direction: column;
  @include theme-primary.blocks-gradient-background;
}

.title {
  font-size: 4rem;
  @include theme-primary.golden-gradient-background;
  @include theme-primary.text-gradient;
  margin-bottom: 5rem;
}