@use 'theme-primary';
@use 'icons';
@use 'shadow';

.block {
  margin: 10rem 0 0;
  padding: 1rem 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  min-height: 60vh;
  @include shadow.block-shadow;
  border-radius: 20px;
}

.topicBlock {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap column;
  padding: 1rem 3rem 3rem;
  margin: 5rem 0;
  border-radius: 20px;
  @include shadow.block-shadow;
}

.header {
  flex: 1;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainHeader {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
}

.icons {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  align-self: start;
  width: 100px;
}

.description {
  flex: 1;
  font-size: 1rem;
  color: theme-primary.$text-color;
  margin: 1rem;
}

.content {
  display: flex;
  margin: 1rem;
  padding: 0.5rem;
  flex: 1;
  min-height: 200px;
  border-radius: 10px;
  min-width: 250px;
  max-width: 500px;
  @include shadow.block-shadow;
}

.main {
  flex: 5;
  width: 100%;
  padding: 0 2rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 750px) {
  .header {
    padding: 1rem;
  }
  .main {
    flex-direction: column;
    padding: 0 1rem 1rem;
  }
  .topicBlock {
    padding: 1rem;
  }
}