@use 'theme-primary';
@use 'animations';
@use 'positioning';
@use 'shadow';

@mixin button {
  @include positioning.centered;
  width: 180px;
  height: 70px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  &:active {
    scale: 0.9;
  }
  transition: scale 300ms;
}

