@use 'positioning';

.constraints {
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid black;
  @include positioning.centered;
}

.circle {
  max-width: 250px;
  max-height: 250px;
  width: 33.3vw;
  height: 33.3vw;
  border-radius: 50%;
  cursor: pointer;
}