@use 'positioning';
@use 'scrollbars';
@use 'shadow';

.block, .description {
  @include positioning.centered;
  @include shadow.block-shadow;
  flex-direction: column;
  width: calc(100% - 3rem);
  height: 550px;
  max-width: 550px;
  min-width: 250px;
  border-radius: 10px;
  transition: 300ms linear;
  overflow-x: hidden;
  overflow-y: auto;
  @include scrollbars.light-scrollbar;
  &::-webkit-scrollbar-thumb {
    border-radius: 0 10px 10px 0;
  }
}

.description {
  background: none;
  transition: 300ms linear;
  box-shadow: inset -1000px 0 0 0;
}

.header {
  width: 100%;
  height: calc(20% - 10px);
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.contentContainer {
  width: 100%;
  height: calc(80% - 10px);
}

.content {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  @include scrollbars.light-scrollbar;
  color: white;
  line-height: 25px;
  overflow-y: auto;
}

.title {
  font-size: 4rem;
  color: white;
}

@media screen and (max-width: 475px) {
  .header {
    padding: 1rem;
  }

  .content {
    padding: 0 1rem;
  }

  .block, .description {
    height: 400px;
  }
}