@use 'theme-primary';
@use "positioning";
@use 'scrollbars';

.footer {
  width: 100%;
  min-height: 100px;
  @include theme-primary.blocks-gradient-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 10rem;
}

.header {
  width: 100%;
  padding: 3rem;
  @include positioning.centered;
  flex-direction: row;
}