* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

:root {
  --scrollbar-background: black;
  --scrollbar-thumb-background: white;
}

body {
  width: 100vw;
  overflow-x: clip;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    background: var(--scrollbar-background);
  };
  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
  };
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline white 1px;
  }
}