.container {
  min-height: calc(100vh - 150px);
  margin-bottom: 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.title {
  margin: calc(50vh - 150px) 2rem 5rem;
}