.container {
  min-height: calc(100vh - 150px);
  margin-bottom: 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
}

.title {
  margin: calc(50vh - 150px) 2rem 5rem;
}

@media screen and (max-width: 1050px) {
  .container {
    font-size: 5rem;
  }
}

@media screen and (max-width: 800px) {
  .container {
    font-size: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 450px) {
  .container {
    font-size: 2.5rem;
  }
}