@mixin text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin golden-gradient-background {
  background: $golden-gradient;
}

$blocks-gradient: linear-gradient(135deg, #000077, #000033 40%, #000033 80%, #000077);

$golden-gradient: linear-gradient(90deg, #8b1bab 0%, #cb6309 100%);

$golden-gradient-first-color: #8b1bab;

$golden-gradient-second-color: #cb6309;

$dark-color: #1E1E1EFF;

@mixin background-gradient {
  background: black;
}

@mixin blocks-gradient-background {
  background: $blocks-gradient;
}

$text-color: rgb(50, 50, 100);