@use 'positioning';

.card {
  width: 95%;
  min-height: 150px;
  margin: 1rem 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid gray;
  background: lightgray;
}

.left, .right, .center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  padding: 0 0.5rem;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.right {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.center {
  padding: 0 0.5rem;
  @include positioning.centered;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.8rem;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid gray;
  @include positioning.centered;
  cursor: pointer;
}

.checkMark {
  color: limegreen;
  font-size: 1.5rem;
}

.text {
  min-width: 100px;
  width: 65%;
  min-height: 70px;
  font-size: 1.2rem;
  border: 2px solid gray;
  background: whitesmoke;
  padding: 0 0.5rem;
  outline: none;
  resize: vertical;
}

.colorPicker {
  cursor: pointer;
}

.delete, .update {
  margin: 0.5rem;
  @include positioning.centered;
  cursor: pointer;
}

.update {
  color: yellow;
}

.delete {
  color: firebrick;

}

.header {
  width: 100%;
  @include positioning.centered;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  background: lightgray;
}

.createTodoInput {
  width: 100%;
  font-size: 2rem;
  min-height: 75px;
  padding: 5px;
  text-align: center;
  border: none;
  outline: none;
}

.list {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exampleContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border: 4px solid black;
  padding: 1rem 0;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px solid black;
}

@mixin container {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin: 2rem 0;
  padding: 2rem 0;
}

.colors {
  @include container;
  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.color {
  display: flex;
  flex-direction: row;
  input {
    margin-right: 10px;
  }
}

.buttons {
  @include container;
  button {
    width: 175px;
    height: 50px;
    @include positioning.centered;
    background: lightgray;
    border: 2px solid gray;
    color: gray;
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      color: black;
      border-color: black;
    }
    &:active {
      color: dodgerblue;
      border-color: dodgerblue;
    }
  }
}

.options {
  @include container;
  .option {
    @include positioning.centered;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid gray;
    color: gray;
    cursor: pointer;
  }
}

.todosLeft {
  margin: 2rem 0 0;
  color: black;
}

@media screen and (max-width: 650px) {
  .circle {
    width: 35px;
    height: 35px;
  }
  .icons {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .createTodoInput {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 560px) {
  .text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .card {
    padding: 10px 0;
  }
  .createTodoInput {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .createTodoInput {
    font-size: 1rem;
  }
}